
<h1 *ngIf="testExistanteRoom"> you don'have any room </h1>

<div *ngIf="!testExistanteRoom">
<div   class="row mt-5 align-items-center">
  <div class="col-lg-6">
    <div class="back-home-image pe-4">
      <img
        src="../../../assets/images/enchere.jpg"
        style="width: 70%; margin-left: 10%"
        class="image-fill"
      />
    </div>
  </div>
  <div class="col-lg-6">
    <div class="backhome-content mt-4 mt-lg-0">
      <h2 class="fw-bold">
        Participation in Room for {{ room.typePack }} packs
      </h2>
      <div class="d-flex mt-3 align-items-center">
        <a href="#"
          ><span
            class="badge rounded-pill bg-white box-shadow text-dark f-16 fw-normal py-2 px-3"
          >
            <i class="mdi mdi-heart text-danger f-18 me-2 align-middle"></i>
            confirmed participant number : {{ room.confirmedParticipant }}
          </span></a
        >

        <div class="icon d-flex ms-auto"></div>
      </div>

      <div class="tab-box my-4">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="pills-home-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-home"
              type="button"
              role="tab"
              aria-controls="pills-home"
              aria-selected="true"
            >
              Rules
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pills-profile-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-profile"
              type="button"
              role="tab"
              aria-controls="pills-profile"
              aria-selected="false"
            >
              Bid
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="pills-contact-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-contact"
              type="button"
              role="tab"
              aria-controls="pills-contact"
              aria-selected="false"
            >
              Participants
            </button>
          </li>
        </ul>
        <div class="tab-content mt-4 ps-3" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
          >
          <div [innerHTML]="sanitizeHtml(room.description)" class="formatted-text"></div>

          </div>
          <div
            class="tab-pane fade"
            id="pills-profile"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
          >
            <p class="text-muted">
              Today we want to share a design, NFT is a new method of payment on
              the Internet using electronic currency. Each of the NFTs is unique
              and exists.
            </p>
          </div>
          <div
            class="tab-pane fade"
            id="pills-contact"
            role="tabpanel"
            aria-labelledby="pills-contact-tab"
          >
            <div class="nav-in-box d-flex align-items-center box-shadow p-4">
              <div class="flex-shrink-0">
                <div class="avatar-md">
                  <img
                    src="../../../assets/images/inner-image/user/img-1.jpg"
                    alt="..."
                    class="img-fluid rounded-circle"
                  />
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="mb-0 text-dark">
                  Bid Accepted By<span class="text-primary fw-bold">
                    2 ETH
                  </span>
                  <span class="text-muted">@mazanov_sky</span>
                </p>
                <p class="mb-0 text-muted">21/04/2021, 10:05</p>
              </div>
            </div>

            <div
              class="nav-in-box d-flex align-items-center box-shadow p-4 mt-3"
            >
              <div class="flex-shrink-0">
                <div class="avatar-md">
                  <img
                    src="../../../assets/images/inner-image/user/img-5.jpg"
                    alt="..."
                    class="img-fluid rounded-circle"
                  />
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <p class="mb-0 text-dark">
                  Bid Accepted By<span class="text-primary fw-bold">
                    1 ETH
                  </span>
                  <span class="text-muted">@ayoub_fennouni</span>
                </p>
                <p class="mb-0 text-muted">21/04/2021, 10:05</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <div
                class="avatar-xs border rounded-circle border-3 border-white"
              >
                <img
                  src="images/inner-image/user/img-1.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <div
                class="avatar-xs border rounded-circle border-3 border-white"
              >
                <img
                  src="images/inner-image/user/img-2.jpg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
      <div class="row">
        <div class="col-lg-6">
          <h6 class="fw-bold mb-1">Minimum bid</h6>
          <p class="fw-semibold">
            Dt {{ room.price }} <span class="text-muted"></span>
          </p>
        </div>
        <div class="col-lg-6">
          <h6 class="mb-0 fw-bold">Countdown</h6>
          <div class="countdown" id="countdown">
            <!-- Utilisez une condition *ngIf pour afficher le compte à rebours ou "Enchère en cours" -->
            <ng-container
              *ngIf="
                hours > 0 || minutes > 0 || seconds > 0;
                else enchereEnCours
              "
            >
              <ul class="d-flex ps-0">
                <li class="d-flex">
                  <span class="countdown-digit">{{ hours }} :</span>
                </li>
                <li class="d-flex">
                  <span class="countdown-digit">{{ minutes }} : </span>
                </li>
                <li class="d-flex">
                  <span class="countdown-digit">{{ seconds }} </span>
                </li>
              </ul>
            </ng-container>
            <ng-template #enchereEnCours>
              <p class="text-success fw-bold">Enchère en cours</p>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="d-flex">
      

        <button
          data-bs-toggle="modal"
          data-bs-target="#exampleModalCenter"
          [disabled]="!openAuction"
          class="btn btn-outline-primary ms-2"
        >
          Enter Auction
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enter Room Code</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form class="form w-100">
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Enter Your code"
            #codeInput
          />
        </form>
        <hr>
        <br>
        <div class="button ms-3">
          <button class="btn btn-primary" data-bs-dismiss="modal" (click)="sendButtonClick(codeInput.value)">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>