.content {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.btn {
    margin-top: 10px;
}

.modal-header {
    background-color: #f8f9fa;
    padding: 10px;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
}

.modal-body p {
    margin-bottom: 10px;
}

.txt_field input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.row.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style pour le logo et le nom de l'entreprise */
.row.content h2 {
    font-size: 24px;
    color: #333;
}

.row.content h3 {
    font-size: 18px;
    color: #666;
}

/* Style pour la description et les informations de l'offre */
.row.content p {
    margin-bottom: 10px;
}

.row.content b {
    color: #555;
}

/* Style pour les boutons */
.btn {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.btn-light {
    background-color: #fff;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;
}

.btn-light:hover {
    background-color: var(--primary-color);
    color: red;
}

:root {
    --primary-color: #3F5EFB;
    --secondary-color: #FFA15A;
    --accent-color: #2DCE89;
}

/* Utilisation des nouveaux colors */
.row.content h2 {
    color: var(--primary-color);
}

.row.content h3 {
    color: var(--secondary-color);
}

.btn-light {
    background-color: var(--accent-color);
    color: black;
}

/* Style pour les icônes SVG */
.row.content svg {
    fill: currentColor;
    transition: all 0.2s ease;
}

.row.content svg:hover {
    transform: scale(1.1);
}

/* Style pour la modal */
.modal-dialog {
    max-width: 60%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.modal-header {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
}

.modal-footer {
    border-top: 1px solid #ddd;
    padding: 10px 20px;
    text-align: right;
}

.modal-footer button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    cursor: pointer;
}