

 
  
 

  
<div class="row">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Service Requests <span>| Today</span></h4>
        </div>
        <div class="card-body" style="margin:30px">
            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                        
                        <th scope="col"><strong>Product Image</strong></th>
                        <th scope="col"><strong>Service Description</strong></th>
                        <th scope="col"><strong>Quantity</strong></th>
                        <th scope="col"><strong>Price</strong></th>
                        <th scope="col"><strong>Booth Position</strong></th>
                        <th scope="col"><strong>Service Name</strong></th>
                        <th scope="col"><strong>Status</strong></th>
                        <th scope="col"><strong>Type</strong></th>
                        <th scope="col"><strong>Action</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let r of SupplyRequestList">
                        <tr *ngIf="r.type == 'isService'">
                           
                            <td><img [src]="r.image.imageUrl" width="100px" height="100px"></td> <!-- If you want to display the admin, replace 'admin' with '{{ r.admin }}' -->
                            <td><a href="#" class="text-primary">{{ r.requirement }}</a></td>
                            <td>{{ r.quantity }}</td>
                            <td>{{ r.price }}</td>
                            <td>{{ r.boothPosition }}</td>
                            <td>{{ r.servicename }}</td>
                            <td>
                                <span class="badge" [ngClass]="{
                                    'bg-success': r.status === 'Approved',
                                    'bg-warning': r.status === 'NotApproved',
                                    'bg-danger': r.status === 'Pending'
                                }">{{ r.status }}</span>
                            </td>
                            <td>{{ getType(r.type) }}</td>
                            <td>
                                <button type="button" class="btn btn-info" style="margin: 5px;" (click)="updateSupplier(r)">Update</button>
                                
                                <button type="button" class="btn btn-danger" style="margin: 5px;"  (click)="deleteSupplier(r)">Delete</button>
                                
                                <button type="button" class="btn light btn-success"  style="margin: 5px;"  (click)="showdetailofsupplierrequest(r)">show Detail</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    
    

</div>
<div class="row">
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Product  Requests <span>| Today</span></h4>
    </div>
    <div class="card-body" style="margin:30px">
        <table class="table table-borderless datatable">
            <thead>
                <tr>
                    
                    <th scope="col"><strong>Product image</strong></th>
                    <th scope="col"><strong>Product Description</strong></th>
                    <th scope="col"><strong>Quantity</strong></th>
                    <th scope="col"><strong>Price</strong></th>
                    <th scope="col"><strong>Booth Position</strong></th>
                    <th scope="col"><strong>Product Name</strong></th>
                    <th scope="col"><strong>Status</strong></th>
                    <th scope="col"><strong>Type</strong></th>
                    <th scope="col"><strong>Action</strong></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let r of SupplyRequestList">
                    <tr *ngIf="r.type == 'isProduct'">
                       
                        <td><img [src]="r.image.imageUrl" width="100px" height="100px"></td> <!-- If you want to display the admin, replace 'admin' with '{{ r.admin }}' -->
                        <td><a href="#" class="text-primary">{{ r.requirement }}</a></td>
                        <td>{{ r.quantity }}</td>
                        <td>{{ r.price }}</td>
                        <td>{{ r.boothPosition }}</td>
                        <td>{{ r.productname }}</td>
                        <td>
                            <span class="badge" [ngClass]="{
                                'bg-success': r.status === 'Approved',
                                'bg-warning': r.status === 'NotApproved',
                                'bg-danger': r.status === 'Pending'
                            }">{{ r.status }}</span>
                            
                        </td>
                        <td>{{ getType(r.type) }}</td>
                        <td>
                            <button type="button" class="btn btn-info"   style="margin: 5px;"(click)="updateSupplier(r)">Update</button>
                            <button type="button" class="btn btn-danger"  style="margin: 5px;" (click)="deleteSupplier(r)">Delete</button>
                            <button type="button" class="btn light btn-success"  style="margin: 5px;"  (click)="showdetailofsupplierrequest(r)">show Detail</button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
</div>