<h1 mat-dialog-title class="dialog-title">Hi Supplier</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <div mat-dialog-content>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" matInput formControlName="description" class="form-control description-input"
        [class.ng-invalid]="description.invalid && description.touched"></textarea>
      <div *ngIf="description.invalid && description.touched" class="alert alert-danger">
        <div *ngIf="description.hasError('required')">Please enter a description.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="price">Price Offer Amount</label>
      <input id="price" matInput formControlName="price" class="form-control price-input"
        [class.ng-invalid]="price.invalid">
      <div *ngIf="price.invalid " class="alert alert-danger">
        <div >Please enter a valid price</div>
       
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onNoClick()" class="btn btn-secondary cancel-button">No Thanks</button>
    <button mat-button [disabled]="form.invalid" type="submit" class="btn btn-primary ok-button">Ok</button>
  </div>
</form>