<div class="row">
    <div class="col-xl-12 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="text-center order-media mb-4">
                    <img src="../../assets/images/logo-full.png" alt="">
                    <div>
                        <h4 class="text-black mb-3 font-w600">Supplier</h4>
                        <a href="javascript:void(0);" class="btn btn-primary btn-sm">Supplier name</a>
                    </div>
                </div>
                <div class="imfo align-items-center mb-4">
                    <i class="fas fa-phone-alt"></i>
                    <h5 class="mb-0 text-black ms-3">+51 5125 626 77</h5>
                </div>
                <div class="imfo align-items-center mb-4">
                    <i class="fas fa-map-marker-alt"></i>
                    <h5 class="mb-0 text-black ms-3">Franklin Avenue St.<br>London, ABC 12345<br>United Kingdom</h5>
                </div>
            </div>
            <div class="card-footer">
                <h4>Note Order</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            
        </div>
    </div>

</div>