<!-- row -->
<div class="container-fluid">
  <div class="mb-sm-4 d-flex flex-wrap align-items-center text-head">
    <h2 class="mb-3 me-auto">CheckOut Payments</h2>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="table-responsive order-list card-table">
            <table class="table items-table table-responsive-md">
              <tbody>
                <tr>
                  <th class="text-black font-w700 fs-20">Campany</th>
                  <th style="width: 10%" class="text-black font-w700 fs-20">
                    Points
                  </th>
                  <th style="width: 10%" class="text-black font-w700 fs-20">
                    Price
                  </th>
                  <th
                    class="my-0 text-black font-w700 fs-20 wspace-no d-md-none d-lg-table-cell"
                  >
                    Date
                  </th>
                </tr>
                <tr *ngFor="let p of payments ; let i =index">
                  <td>
                   
                    <div class="media">
                      <a href="javascript:void(0);"
                        ><img
                          class="me-3 img-fluid"
                          src="../../assets/images/contacts/m1.jpg"
                          alt="DexignZone"
                      /></a>
                      <div class="media-body">
                        <small class="mt-0 mb-1 font-w600"
                          ><a class="text-primary" href="javascript:void(0);"
                            >ss</a
                          ></small
                        >
                      </div>
                    </div>
                  </td>
                  <td>
                    <h4 class="my-0 font-w600">{{p.quantity}}</h4>
                  </td>
                  <td>
                    <h4 class="my-0 font-w600">{{p.amount}} DT</h4>
                  </td>
                  <td class="my-0 font-w600">
                    <h4 class="my-0 font-w600">{{p.paymentDay | date : "MMMM y, d "}}</h4>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
