<!-- <div
    cdkDropList
    [cdkDropListOrientation]="'horizontal'"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div
        class="example-box"
        *ngFor="let timePeriod of timePeriods"
        cdkDrag>
        {{timePeriod}}
    </div>
</div>
 -->
 
 
  

  
 
  
 <div class="example-container">
    <h3 style="margin-left:200px">Your booth</h3>
  <div class="example-boundary" >
    <img [src]="selectedImage" alt="Selected Image" >
    <div class="small-box" *ngFor="let boothName of boothNames ;let i = index" cdkDragBoundary=".example-boundary" [cdkDragFreeDragPosition]="initialPositions[i]"
      cdkDrag  
      [matTooltip]="tooltipTextt"
      (mouseenter)="tooltipText(boothName)"
      [cdkDragDisabled]="isDragDisabled"
      >
      
      <p *ngIf="boothOwnershipMap[boothName]">Your booth</p>
      <p *ngIf="!boothOwnershipMap[boothName]">{{ boothName }}</p>
      
     
      
   
    
      <!-- <div cdkDrag class="small-box"  cdkDragBoundary=".example-boundary"
      [cdkDragFreeDragPosition]="{x:50, y:50}"
      (cdkDragEnded)="dragEnd($event,i+1)">
     
     Item 1
  </div> -->
    </div>
    <div class="medium-box" [cdkDragDisabled]="isDragDisabled" *ngFor="let MediumboothName of MediumboothNames ;let i = index" cdkDragBoundary=".example-boundary" [cdkDragFreeDragPosition]="initialPositionsMediumBooths[i]"
    cdkDrag 
    [matTooltip]="tooltipTextt"
        aria-label="Button that displays a tooltip when focused or hovered over"
        (mouseenter)="tooltipText(MediumboothName)"
       
  
        >
        <p *ngIf="boothOwnershipMap[MediumboothName]">Your booth</p>
        <p *ngIf="!boothOwnershipMap[MediumboothName]">{{ MediumboothName }}</p>
    
   
   
  
    <!-- <div cdkDrag class="small-box"  cdkDragBoundary=".example-boundary"
    [cdkDragFreeDragPosition]="{x:50, y:50}"
    (cdkDragEnded)="dragEnd($event,i+1)">
  
   Item 1
  </div> -->
  </div>
  <div class="big-box" [cdkDragDisabled]="isDragDisabled"*ngFor="let bigBoothName of BigboothNames ;let i = index" cdkDragBoundary=".example-boundary" [cdkDragFreeDragPosition]="initialPositionsBigBooths[i]"
  cdkDrag 
  [matTooltip]="tooltipTextt"
  (mouseenter)="tooltipText(bigBoothName)"
 
  >
  <p *ngIf="boothOwnershipMap[bigBoothName]">Your booth</p>
        <p *ngIf="!boothOwnershipMap[bigBoothName]">{{ bigBoothName }}</p>
  
  
  
  
  <!-- <div cdkDrag class="small-box"  cdkDragBoundary=".example-boundary"
  [cdkDragFreeDragPosition]="{x:50, y:50}"
  (cdkDragEnded)="dragEnd($event,i+1)">
  
  Item 1
  </div> -->
  </div>
   
  
  </div>
  
  </div>
  
  
  
  