<p>quiz-list works!</p>


<p>afficher-classroom works!</p>


<h1 class="text-center" > Reservation classroom List</h1>
<div class="container">

<table class="table table-striped">
        <thead>
          <tr> 
              <th>Title</th>
              <th>Category</th>
              <th>number of questions</th>
              <th>Passer le quiz</th>
              <th>détails</th>            
              
            </tr>

            </thead>
        <tbody>
            <tr *ngFor="let c of quiz">
                <td> {{c.title}} </td>
                <td> {{c.category}} </td>
                <td>  </td>
                <td>
                    <button   class="btn btn-info">PAsser le Quiz  </button>
                  </td>

                  <td>
                    <button   class="btn btn-info"> Delete </button>

                  </td> 
               
<!-- 
                <td>
                  <button (click)= "updateClassroom(c.id)"  class="btn btn-info">Update </button>
                </td>
                <td>
                  <button  (click)= "deleateClassroom(c.id)" class="btn btn-danger" style="margin-left: 50px;">Delete </button>
                </td>
                
                <td><button  (click)= "showFreeDates(c.id)"   class="btn btn-sucess" style="margin-left: 50px;">shoow free dates </button></td>
                -->
            </tr>
        </tbody>

</table>

  <br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<!-- <div class="list-style" (scroll)="onScroll($event)">
  <div class="list-item" *ngFor="let item of freeappointementList">{{ item }}</div>
</div> -->



  










