<div class="quiz-interface-container" *ngIf="!passingQuiz && !resultDisplay">
    <h2>Quiz Interface</h2>

    <table>
      <thead>
        <tr>
          <!-- <th>ID</th> -->
          <th>Category</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of quizItems">

          <!-- <td>{{ item.id }}</td> -->
          <td>{{ item.title }}</td>
          <td>
            <button (click)="passStringToQuestions(item)">Start Quiz</button>
          
          </td>
          <td>
            <button  (click)="dealeteQuiz(item.id)">Delete  Quiz</button>
          </td>
          <td>
            <button  (click)="QuizDetail(item.id)">Detail Quiz</button>
          </td>
          <td>
            <button  (click)="Quizresults(item.id)">My Historique </button>
          </td>
          <td>
              <app-quiz-result-list [listResult]="listresults" [quiz]="item" (quizFinished)="showResult($event)" *ngIf="showingHistorique && quizResulting.id==item.id">   </app-quiz-result-list>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-quizinterface [quiz]="currentQuiz" *ngIf="passingQuiz && !resultDisplay" (quizFinished)="handleFinishquiz($event)"></app-quizinterface>
  <app-quiz-result-display  *ngIf="!passingQuiz && resultDisplay" [result]="result" (quizFinished)="handleFinishResult()"></app-quiz-result-display>
  <app-add-quiz *ngIf="!passingQuiz && !resultDisplay"></app-add-quiz > 
