/* app.component.css */

  .details-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Ajoutez une couleur de fond semi-transparente si nécessaire */
    padding: 20px;
    text-align: center;
    max-width: 80%; /* Ajustez la largeur maximale au besoin */
  }

  .disabled-section {
    pointer-events: none;
    opacity: 0.5; /* Vous pouvez ajuster l'opacité selon vos préférences */
  }
  .seller-box {
    transition: all 2s ease;
  }
  
  .highest-price {
    animation: moveUp 1s;
  }
  
  @keyframes moveUp {
    from {
      transform: translateY(0);
      opacity: 10;
    }
    to {
      transform: translateY(-50px); /* Déplace l'utilisateur vers le haut de 50px */
      opacity: 30; /* Rend l'utilisateur progressivement transparent */
    }
  }
  .seller-box:nth-child(-n+3) .badge {
    background-color: #FF5733; /* Couleur de fond du badge */
    color: #FFFFFF; /* Couleur du texte du badge */
  }
  
  /* Styles pour les badges */
  .badge {
    position: absolute;
    top: 10px; /* Position verticale du badge */
    left: 10px; /* Position horizontale du badge */
    padding: 5px 10px; /* Espacement du badge */
    border-radius: 5px; /* Bord arrondi du badge */
  }
  
  /* Styles pour le texte du badge */
  .badge-text {
    font-size: 12px; /* Taille de police du texte du badge */
    font-weight: bold; /* Gras pour le texte du badge */
  }
  