<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
    <link rel="stylesheet" type="text/css" href="/styles/emailStyles.css">
</head>
<body>
<div class="parent-wrapper">

    <div class="subscribe-wrapper">
        <h4>Your room code is <strong>{{resetCode}}</strong></h4>

        <a class="submit-btn" href="http://localhost:4201/myRooms/4/1" target="_blank">

            Clic here to view your room rules and details !</a>

    </div>

</div>
</body>
</html>