<div class="row">
    <div class="col-xl-12 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="text-center order-media mb-4">
                    <img src="images/profile/p1.jpg" alt="">
                    <div>
                        <h4 class="text-black mb-3 font-w600">Soleh Anderson</h4>
                        <a href="javascript:void(0);" class="btn btn-primary btn-sm">Customer</a>
                    </div>
                </div>
                <div class="imfo align-items-center mb-4">
                    <i class="fas fa-phone-alt"></i>
                    <h5 class="mb-0 text-black ms-3">+51 5125 626 77</h5>
                </div>
                <div class="imfo align-items-center mb-4">
                    <i class="fas fa-map-marker-alt"></i>
                    <h5 class="mb-0 text-black ms-3">Franklin Avenue St.<br>London, ABC 12345<br>United Kingdom</h5>
                </div>
            </div>
            <div class="card-footer">
                <h4>Note Order</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            
        </div>
    </div>
    <div class="col-xl-12 col-sm-6">
        <div class="card">
            <div class="card-header border-0">
                <h4 class="fs-18">Customer Favourite</h4>
            </div>
            <div class="card-body">
                <div id="pieChart2"></div>
                <div class="chart-items1">
                    <div class="d-flex align-items-end mt-2 py-3 justify-content-between">
                        <span class="fs-14 font-w500">Pizza  (40%)</span>
                        <span class="fs-14"><span class="pe-2"></span>25</span>
                    </div>
                    <div class="progress default-progress">
                        <div class="progress-bar  progress-animated" style="width: 40%; height:11px;" role="progressbar">
                            <span class="sr-only">40% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="chart-items2">
                    <div class="d-flex align-items-end mt-2 py-3 justify-content-between">
                        <span class="fs-14 font-w500">Juice (53%)</span>
                        <span class="fs-14"><span class="pe-2"></span>60</span>
                    </div>
                    <div class="progress default-progress">
                        <div class="progress-bar  progress-animated" style="width: 53%; height:11px;" role="progressbar">
                            <span class="sr-only">53% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="chart-items3">
                    <div class="d-flex align-items-end mt-2 py-3 justify-content-between">
                        <span class="fs-14 font-w500">Dessert (25%)</span>
                        <span class="fs-14"><span class="pe-2"></span>7</span>
                    </div>
                    <div class="progress default-progress">
                        <div class="progress-bar  progress-animated" style="width: 25%; height:11px;" role="progressbar">
                            <span class="sr-only">25% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>